@using PagedList.Mvc
@model MotorMax.Web.ViewModels.Ciudad.CiudadFiltroVm
@{
    ViewBag.Title = "Index";
}

<div class="d-flex justify-content-between w-75">
    <h2>Lista de Ciudades</h2>
    <p>
        @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary" })
    </p>
</div>


@if (TempData["Msg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Msg"].ToString()
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


@using (Html.BeginForm("Index", "Ciudades", FormMethod.Get))
{
    <div class="row">
        <div class="col-auto">
            <label>Provincia:</label>
        </div>
        <div class="col-auto">
            @Html.DropDownListFor(model => model.ProvinciaFiltro, Model.Provincias, "Ver Todos", new { @class = "form-select" })
        </div>
        <div class="col-auto">
            <input type="text" placeholder="Buscar...." name="SearchBy" class="form-control" />
        </div>
        <div class="col-auto">
            <input type="submit" value="Filtrar" class="btn btn-secondary" />
        </div>
    </div>
}

<table class="table table-bordered table-hover w-75 mt-3">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ciudades.FirstOrDefault().Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ciudades.FirstOrDefault().NombreProvincia)
        </th>
        <th class="w-25"></th>
    </tr>

    @foreach (var item in Model.Ciudades)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProvincia)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CiudadId }, new { @class = "btn btn-sm btn-warning" })
                @Html.ActionLink("Delete", "Delete", new { id = item.CiudadId }, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
    }

</table>

    Página: @(Model.Ciudades.PageCount < Model.Ciudades.PageNumber ? 0 : Model.Ciudades.PageNumber) de: @Model.Ciudades.PageCount
    @Html.PagedListPager(Model.Ciudades, page => Url.Action("Index", new
    {
        PaisFiltro = Model.ProvinciaFiltro,
        page,
        pageSize = ViewBag.PageSize
    }))
