@model MotorMax.Web.ViewModels.Ciudad.CiudadEditVm

@{
    ViewBag.Title = "DeleteCity";
}

<h2>Borrar Ciudad</h2>

<h3>¿Está seguro de borrar la ciudad mostrada?</h3>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @disabled = "disabled" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProvinciaId)
        </dt>

        <dd>
            @Html.DropDownListFor(model => model.ProvinciaId, Model.Provincias, "", new { @class = "form-select", @disabled = "disabled" })
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver", $"Details/{Model.ProvinciaId}", null, new { @class = "btn btn-success" })
        </div>
    }
</div>
