@model MotorMax.Web.ViewModels.Provincia.ProvinciaListVm

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar Provincia</h2>

<h3>¿Está seguro de querer borrar la provincia seleccionada?</h3>

<div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-success" })
        </div>
    }
</div>