@model IEnumerable<MotorMax.Web.ViewModels.Marca.MarcaListVm>

@{
    ViewBag.Title = "Index";
}
<div class="d-flex justify-content-between w-75">
    <h2>Lista de Marcas</h2>
    <p>
        @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary" })
    </p>
</div>


<table class="table table-bordered table-hover w-75 ">
    <tr>
        <th class="w-75">
            @Html.DisplayNameFor(model => model.NombreMarca)
        </th>
        <th class="w-25">
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMarca)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.MarcaId }, new { @class = "btn btn-sm btn-warning" }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.MarcaId }, new { @class = "btn btn-sm btn-info" }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.MarcaId }, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
    }

</table>
 