@model MotorMax.Web.ViewModels.Repuesto.RepuestoListVm
@{
    ViewBag.Title = "Details";
}

<h2>Detalle del Repuesto</h2>
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            @if (Model.Imagen == null)
            {
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@Url.Content(MotorMax.Utilidades.WC.SinImagenDisponible)" style="width:500px; height:500px" /></div>

            }
            else
            {
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@Url.Content(MotorMax.Utilidades.WC.ProductosImagenesFolder+Model.Imagen)" style="width:500px; height:500px" /></div>

            }
            <div class="col-md-6">
                <div class="small mb-1">@Model.Categoria</div>
                <h1 class="display-5 fw-bolder">@Model.Descripcion</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">@(Model.PrecioUnitario+10)</span>
                    <span>@Model.PrecioUnitario</span>
                </div>
                <p class="lead">Stock: <strong>@Model.UnidadesDisponibles</strong> </p>
                @using (Html.BeginForm("AddToCart", "Carrito", FormMethod.Post))
                {
                    <div class="d-flex">
                        @Html.Hidden("repuestoId", Model.RepuestoId)
                        @Html.Hidden("returnUrl", "/Repuestos/")
                        <input class="form-control text-center me-3" name="cantidad" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                        <button class="btn btn-outline-dark flex-shrink-0 me-3" type="submit">
                            <i class="fa fa-shopping-cart me-1"></i>
                            Comprar
                        </button>

                        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-success" })


                    </div>
                }
            </div>
        </div>
    </div>
</section>

