@model MotorMax.Web.ViewModels.RepuestoProveedor.RepuestoProveedorEditVm

@{
    ViewBag.Title = "Create";
}

<h2>Agregar Repuesto</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.ProveedorId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ProveedorId, Model.Proveedores, "Seleccione Proveedor", new { @class = "form-select", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.ProveedorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RepuestoId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RepuestoId, Model.Repuestos, "Seleccione Repuesto", new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.RepuestoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
}

